<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header ('내 노트 보기')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/bodyHeader"></div>

<div class="container">

    <button th:onclick=
                    "|location.href='@{/{memberId}/notes/new (memberId=${notes[0].memberId})}'|"
            type="submit" class="btn btn-primary">노트 생성</button>

    <button th:onclick="|location.href='@{/logout}'|" type="submit" class="btn btn-primary">로그아웃</button>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>권한</th>
            <th>마지막 수정일</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td th:text="${note.noteId}"></td>
            <td th:text="${note.title}"></td>
            <td th:text="${note.permission}"></td>
            <td th:text="${note.lastModifiedDate}"></td>
            <td>
                <a href="#" th:href="@{/{memberId}/notes/{noteId} (memberId=${note.memberId}, noteId=${note.noteId})}" class="btn btn-primary" role="button">보기</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>