<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header ('노트 저장')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/bodyHeader"></div>

<div class="container">
    <form action="" th:action th:object="${noteSaveForm}" method="post">
        <h1 class="h3 mb-3 fw-normal">Note</h1>

        <div class="mb-3">
            <label th:for="name" class="form-label">제목</label>
            <input type="text" id="name" class="form-control" th:field="*{title}">
        </div>
        <div class="mb-3">
            <label th:for="loginId" class="form-label">내용</label>
            <textarea id="content" class="form-control" th:field="*{content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>