<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header ('참여자 추가')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/bodyHeader"></div>
<div class="container">
    <form action="" th:action th:object="${addParticipantForm}" method="post">
        <h1 class="h3 mb-3 fw-normal">Note</h1>

        <div class="mb-3">
            <label th:for="memberName" class="form-label">회원 이름</label>
            <input type="text" id="name" class="form-control" th:field="*{memberName}">
        </div>

        <label th:for="permission" class="form-label">권한</label>
        <select th:field="*{permission}" aria-label="permission" class="form-control">
            <option th:each="permission : ${T(note.webnote.web.form.PermissionNotHostEnum).values()}" th:value="${permission}" th:text="${permission}"></option>
        </select>
        <button type="submit" class="btn btn-primary">추가</button>
    </form>
</div>
</body>
</html>