<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header ('노트')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/bodyHeader"></div>

<div class="container">
    <div class="mb-3">
        <label th:for="name" class="form-label">제목</label>
        <input type="text" id="title" class="form-control" th:field="${viewNoteDto.title}" readonly>
    </div>

    <div class="mb-3">
        <label th:for="content" class="form-label">내용</label>
        <textarea name="content" class="form-control" th:text="${viewNoteDto.content}" readonly></textarea>
    </div>

    <div class="mb-3">
        <label th:for="host" class="form-label">호스트</label>
        <input type="text" id="host" class="form-control" th:field="${viewNoteDto.hostMemberName}" readonly>
    </div>

    <label class="form-label">참여자</label>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>이름</th>
            <th>권한</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="participant : ${viewNoteDto.getViewNoteParticipantDtos}">
            <td th:text="${participant.memberId}"></td>
            <td th:text="${participant.memberName}"></td>
            <td th:text="${participant.permission}"></td>
        </tr>
        </tbody>
    </table>
    <button th:onclick=
                    "|location.href='@{/{memberId}/notes/{noteId}/edit (memberId=${viewNoteDto.loginId}, noteId=${viewNoteDto.noteId})}'|"
            type="submit" class="btn btn-primary"
            th:if="${viewNoteDto.isWrite()}">수정
    </button>
    <button th:onclick=
                    "|location.href='@{/{memberId}/notes/{noteId}/edit/participants (memberId=${viewNoteDto.loginId}, noteId=${viewNoteDto.noteId})}'|"
            type="submit" class="btn btn-primary"
            th:if="${viewNoteDto.isHost()}">참여자 수정
    </button>
    <button th:onclick=
                    "|location.href='@{/}'|"
            type="submit" class="btn btn-primary">목록으로 돌아가기
    </button>
</div>
</body>
</html>